<h1 class="text-center pt-5">My bookings</h1>
<div class="card-container p-5">
  <% @bookings.each do |booking| %>
    <div class="card">
    <div class="card-header">
    <h3><%= "#{booking.user.first_name} #{booking.user.last_name}"  %></h3>
      <div class="card-body ">
      <strong>Car Name:</strong> <%= booking.car.name %><br>
      <strong>Rentee Email:</strong> <%= booking.user.email %><br>
      <strong>Start Date:</strong> <%= booking.start_date %><br>
      <strong>End Date:</strong> <%= booking.end_date %><br>
      <strong>Total Price:</strong> <%= booking.totalprice %>
      <% if current_user == booking.car.user && booking.status != "confirmed" %>
        <%= link_to "Accept Booking", accept_booking_path(booking), class: "btn btn-primary" %>
        <%= link_to "Decline Booking", decline_booking_path(booking), class: "btn btn-danger" %>
      <% end %>
      </div>
    </div>
  <% end %>
</div>
