
<div class="container p-5">

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4">
        <h1 class="text-center pb-2">Create a booking</h1>
        <%= simple_form_for @booking, url: bookings_path do |f| %>
          <%= f.hidden_field :car_id, value: @car.id %>
          <%= f.input :start_date, as: :string, input_html: { class: 'datepicker form-control' } %>
          <%= f.input :end_date, as: :string, input_html: { class: 'datepicker form-control' } %>
          <%= f.input :totalprice, input_html: { readonly: true, class: 'form-control' } %>
          <%= f.input :daily_rate, input_html: { id: 'booking_daily_rate', readonly: true, value: @daily_rate, class: 'form-control' } %>
          <%# <%= f.button :submit, class: 'btn btn-dark mt-3' %>
          <%= link_to 'Create Booking', 'http://127.0.0.1:3000/bookings', class: 'btn btn-dark mt-3' %>

        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function() {
    $('#car_id').change(function() {
      var carId = $(this).val();
      $.ajax({
        url: '/cars/' + carId + '/get_daily_rate',
        type: 'GET',
        success: function(response) {
          $('#booking_daily_rate').val(response.daily_rate);
          updateTotal();
        },
        error: function() {
          console.log('Error fetching daily rate');
        }
      });
    });

    $('.datepicker').datepicker({
      dateFormat: 'dd-mm-yy',
      onSelect: function(dateText, inst) {
        updateTotal();
      }
    });

    function updateTotal() {
      let startDate = $("#booking_start_date").datepicker("getDate");
      let endDate = $("#booking_end_date").datepicker("getDate");
      let dailyRate = parseFloat($("#booking_daily_rate").val());

      if (!isNaN(startDate) && !isNaN(endDate) && !isNaN(dailyRate)) {
        let days = Math.floor((endDate - startDate) / (24 * 60 * 60 * 1000));
        let totalPrice = days * dailyRate;
        $('#booking_totalprice').val(totalPrice.toFixed(2));
      }
    }
  });
</script>
