<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap" rel="stylesheet">

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon bg-black">
  <div class="container-fluid">
    <%= link_to "http://127.0.0.1:3000", class: "navbar-brand", style:"font-family: 'Bebas Neue', sans-serif; font-size: 1.5em" do %>
      Rentaca
    <% end %>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border: none; background: none;">
  <div class="navbar-toggler-icon">
    <style>
      .navbar-toggler-bar {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin-bottom: 4px;
        border-radius: 2px;
      }
    </style>
    <span class="navbar-toggler-bar"></span>
    <span class="navbar-toggler-bar"></span>
    <span class="navbar-toggler-bar"></span>
  </div>
</button>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "About Us", "http://127.0.0.1:3000/about", class: "nav-link" %>
          </li>
          <li class="nav-item">
          <% if current_user.cars.any? %>
            <%= link_to "My Cars", user_cars_path, class: "nav-link" %>
          <% else %>
          <%= link_to "Add a Car", new_car_path, class: "nav-link" %>
          <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "Bookings", bookings_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
          <% if current_user.email == "admin@gmail.com" %>
            <%= link_to "Admin", admin_dashboard_path, class: "nav-link" %>
          <% end %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "image.png", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", profile_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
