<h1>The cars</h1>

<ul>
<% @cars.each do |car| %>
  <h3><%= car.name %></h3>
  <li> <%= car.colour %> </li>
  <li> <%= car.price_per_day %> </li>
  <li> <%= car.location %> </li>
  <li> <%= car.registration_number %> </li>
<% end %>
</ul>
