<h1>The cars</h1>
<%= form_with(url: cars_path, method: "get") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search by car name" %>
  <%= submit_tag "Search" %>
<% end %>

<%= form_with(url: search_cars_path, method: "get") do %>
  <%= text_field_tag :id, params[:id], placeholder: "Search by car ID" %>
  <%= submit_tag "Search" %>
<% end %>

<ul>
<% @cars.each do |car| %>
  <h3><%= car.name %></h3>
  <li> <%= car.colour %> </li>
  <li> <%= car.price_per_day %> </li>
  <li> <%= car.location %> </li>
  <li> <%= car.registration_number %> </li>
<% end %>
</ul>
