
<div class="new-container">
<h1 class="text-center">Create your listing</h1>
<%= simple_form_for @car, html: { multipart: true } do |form| %>
  <%= form.input :name %>
  <%= form.input :colour %>
  <%= form.input :price_per_day %>
  <%= form.input :location %>
  <%= form.input :registration_number %>
  <%= form.input :image, as: :file %>
  <%= form.button :submit %>
<% end %>
    </div>
</div>
