<h1><%= @car.name %></h1>

<% if @car.image.attached?%>
<ul>
  <li> Colour: <%= @car.colour %> </li>
  <li> Rate: <%= @car.price_per_day %> / day</li>
  <li> Location: <%= @car.location %> </li>
  <li> Registration: <%= @car.registration_number %> </li>
  <%= cl_image_tag @car.image.key %>
  <%= button_to "Create Booking", bookings_path(car_id: @car.id), method: :post %>

</ul>

<% else %>
  <ul>
    <li> Colour: <%= @car.colour %> </li>
    <li> Rate: <%= @car.price_per_day %> / day</li>
    <li> Location: <%= @car.location %> </li>
    <li> Registration: <%= @car.registration_number %> </li>
  </ul>
<% end %>
